{% extends 'bandeau.html.twig' %}
{% block body %}
<link href="/site.css" rel="stylesheet"></link>
{#<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>#}

<div>
    <h1>Liste des étudiants</h1>
    {% for etudiant in tabEtu %}
    	<a href="/prof/etudiant/{{ etudiant.id }}"> {{ etudiant.nom }} {{ etudiant.prenom }}</a>
    {% endfor %}
</div>
{% endblock %}
